#root, .app {
	margin: 0;
	padding: 0;

	overflow: hidden;
}

canvas {
	display: block;
}

.sidebar {
	position: fixed;
	left: 10px;
	top: 15px;

	display: grid;
	grid-template-columns: 50px;
	grid-auto-rows: 40px;
	grid-gap: 8px;
}

.sidebar button {
	position: relative;
	user-select: none;

	border: 0px;
	border-radius: 3px;

	background-color: #2e2e2e;
	color: #d3d3d3;
}

.sidebar button:hover {
	background-color: #1d1d1d;
}

.sidebar button:active {
	background-color: #292929;
}

.sidebar button img {
	position: absolute;

	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;

	object-fit: contain;
}

.sidebar button:focus {
	outline: none;
}

.info-indicator {
	pointer-events: none;
	position: fixed;
	top: 15px;
	left: 85px;
}

.info-indicator p {
	pointer-events: none;
	user-select: none;

	margin-top: 0;
	margin-bottom: 2px;
	color: #d3d3d3;
	font-size: 14px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.53);
}