

.gun-selector {
    position: fixed;

    width: calc(100% - 95px);
    max-width: 200px;
    max-height: calc(100% - 68px);

    left: 75px;
    top: 63px;

    padding-right: 5px;

    z-index: 100;

    overflow: auto;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 25px;
}

.gun-field:first-child {
    border-radius: 3px 3px 0 0;
}

.gun-field:last-child {
    border-radius: 0 0 3px 3px;
}

.gun-field {
    user-select: none;

    color: #d3d3d3;
    background-color: #2e2e2e;
    font-size: 13px;
}

.gun-field:hover {
    background-color: #1d1d1d;
}

.gun-field:active {
    background-color: #292929;
}

.gun-field p {
    margin: 0;
    margin-left: 8px;
    margin-top: 3px;
}